@import "tailwindcss";

@theme {
  --color-background: #5A9CB5; 
  --color-foreground: #FA6868;

}

@layer base{
  html{
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-forground);
    font-family: "Courier New", Courier, monospace;

  }

}