@import "tailwindcss";

@theme {
  --color-background: #0f1418; 
  --color-foreground: #f5f7f8;
  --color-primary: #F4CE14;
  --color-shadeone: #1B2024

}

@layer base{
  html{
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "inter", sans-serif;

  }

@layer components {
  .navigate{
    background-color: var(--color-shadeone);
    opacity: 0.5;
    backdrop-filter: 15px;
  }
}

}